APP_BASE_URL=https://localhost:3000

# GEMINI
GEMINI_API_KEY= # GET FROM GEMINI

# ESV API
ESV_API_KEY= # GET FROM ESV API

# AUTH SESSION ENCRYPTION KEY
SESSION_SECRET= # GET FROM OPENSSL -- openssl rand -base64 32
NEXT_PUBLIC_RECAPTCHA_SITE_KEY= # GET FROM GOOGLE RECAPTCHA -- THIS IS PUBLIC KEY, SAFE TO EXPOSE
RECAPTCHA_SECRET_KEY= # GET FROM GOOGLE RECAPTCHA

# LOCAL ENV
IS_LOCAL=true

# SUPABASE
POSTGRES_URL= # GET FROM SUPABASE
POSTGRES_USER=
POSTGRES_HOST=
SUPABASE_JWT_SECRET=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
POSTGRES_PRISMA_URL=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
POSTGRES_URL_NON_POOLING=

# VERCEL
CRON_SECRET= # GET FROM VERCEL