## AUTH0_SECRET generated with openssl via -- openssl rand -hex 32
AUTH0_DOMAIN= # GET FROM AUTHO
AUTH0_CLIENT_ID= # GET FROM AUTHO
AUTH0_CLIENT_SECRET= # GET FROM AUTHO
AUTH0_SECRET= # GET FROM AUTHO
APP_BASE_URL=https://localhost:3000

# GEMINI
GEMINI_API_KEY= # GET FROM GEMINI

# ESV API
ESV_API_KEY= # GET FROM ESV API

# LOCAL ENV
IS_LOCAL=true